*,
::before,
::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

.demo {
  min-width: 320px;
  margin: 0;
  padding: 50px 0 50px;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #444;

  @media screen and (max-width: 639.98px) {
    padding: 20px 20px 8px;
  }
}

.demo__heading {
  margin: 0 0 12px;
  font-size: 3rem;
  text-align: center;
}

.demo__example {
  margin-top: 188px;
}
