mixin example()
  .example#js-example-1
    .example__jqrs
      .jqrs.js-jqrs
    .example__options
      .example__options-row
        label.example__option-name min
          input.example__option-value.example__option-value_type_min.js-example__option-value_type_min(type="number", step="any")
        label.example__option-name max
          input.example__option-value.example__option-value_type_max.js-example__option-value_type_max(type="number", step="any")
        label.example__option-name step
          input.example__option-value.example__option-value_type_step.js-example__option-value_type_step(type="number", step="any")
        label.example__option-name from
          input.example__option-value.example__option-value_type_from.js-example__option-value_type_from(type="number")
        label.example__option-name to
          input.example__option-value.example__option-value_type_to.js-example__option-value_type_to(type="number")
      .example__options-row
        label.example__option-name double
          input.example__option-value.example__option-value_type_double.js-example__option-value_type_double(type="checkbox")
        label.example__option-name tip
          input.example__option-value.example__option-value_type_tip.js-example__option-value_type_tip(type="checkbox")
        label.example__option-name scale
          input.example__option-value.example__option-value_type_scale.js-example__option-value_type_scale(type="checkbox")
        label.example__option-name vertical
          input.example__option-value.example__option-value_type_vertical.js-example__option-value_type_vertical(type="checkbox")
